<div [class.hidden]="!show">
  <div class="loader-overlay">
    <div *ngIf="show" class="">
				<div style="text-align: center; margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: #fdfdfd; z-index: 30001; opacity: 0.9;">
						<span>
						<img src="/assets/loader.gif" style="margin-top: 18%;">
						</span> 
			 </div>
    </div>
  </div>
</div>

<div [class.hidden]="!forResume">
  <div class="loader-overlay">
    <div *ngIf="forResume" class="">
				<div style="text-align: center; margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: #fdfdfd; z-index: 30001; opacity: 0.9;">
						<span>
						<img src="/assets/loader.gif" style="margin-top: 18%;">
						</span> 
			 </div>
    </div>
  </div>
</div>

<div [class.hidden]="!forRoute">
  <div class="loader-overlay">
    <div *ngIf="forRoute" class="">
				<div style="text-align: center; margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: #fdfdfd; z-index: 30001; opacity: 0.9;">
						<span>
						<img src="/assets/loader.gif" style="margin-top: 18%;">
						</span> 
			 </div>
    </div>
  </div>
</div>
