.vertical {
    width: 0;
    border: 1px solid grey;
    height: 100%;
}

.horizontal {
    height: 0;
    border: 1px solid grey;
    width: 100%
}

.buttonAdd {
    margin-top: 50px;
}

.hyperLink {}